// hamburgers config
$hamburger-layer-border-radius: 20px;
$hamburger-layer-height: 3px;
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: 32px;
$hamburger-layer-color: #00a680;

@import '../../node_modules/hamburgers/_sass/hamburgers/hamburgers';
// end hamburgers
@import './components/searchbar';

@import './components/buttons';
